.sobre-bg {
  background: #EAF2FD;
  padding: 64px 0;
}

.sobre p {
  max-width: 76ch;
}

.sobre h1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sobre img {
  height: 45px;
  text-align: end;
}


@media (max-width: 480px) {
  .sobre-bg {
    background: #EAF2FD;
    padding: 16px 0;
  }
}
